[Unit]
Description="Bluetooth test suite"
After=ofono.service btts-pulseaudio.service
Requires=ofono.service btts-pulseaudio.service

[Install]
WantedBy=multi-user.target
