[Unit]
Description=Bluetooth test suite
Wants=ofono.service btts-pulseaudio.service
# dbus.service StopWhenUnneeded=true
Requires=btts-dbus.service

[Install]
WantedBy=multi-user.target
