[Unit]
Description=Bluetooth Test Suite - D-Bus Message Bus
StopWhenUnneeded=True

[Service]
ExecStart=/usr/bin/dbus-daemon --session --address=unix:path=/run/btts/dbus/btts_bus_socket --nofork --nopidfile
ExecReload=/usr/bin/dbus-send --print-reply --session --type=method_call --dest=org.freedesktop.DBus / org.freedesktop.DBus.ReloadConfig
EnvironmentFile=/usr/libexec/btts/environment
User=btts
