[Unit]
Description=Bluetooth test suite - bluez agent
After=bluetooth.service
StopWhenUnneeded=True

[Service]
Type=dbus
BusName=org.merproject.btts.BluezAgent
ExecStart=/usr/bin/btts bluez-agent --mode=server
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/btts/dbus/btts_bus_socket
User=btts

[Install]
RequiredBy=btts.target
