[Unit]
Description=Bluetooth Test Suite - D-Bus Message Bus Socket
Before=sockets.target
StopWhenUnneeded=True

[Socket]
ListenStream=/run/btts/dbus/btts_bus_socket
