[Unit]
Description=Bluetooth test suite - bluez pairing tool
After=bluetooth.service
StopWhenUnneeded=True

[Service]
Type=dbus
BusName=org.merproject.btts.BluezPairingTool
ExecStart=/usr/bin/btts pairing --server
EnvironmentFile=/usr/libexec/btts/environment
User=btts

[Install]
RequiredBy=btts.target
