[Unit]
After=sound.target btts-dbus.socket
Requires=sound.target btts-dbus.socket
Description=Bluetooth Test Suite - PulseAudio instance
StopWhenUnneeded=True

[Service]
# No way to tell systemd we use a special bus instance
#Type=dbus
#BusName=org.pulseaudio.Server
#BusName=org.PulseAudio1
ExecStart=/usr/bin/pulseaudio --use-pid-file=false -n --file=/usr/share/btts/pulse/default.pa
# Not using `pulseaudio --kill` as it results in non zero exit code
ExecStop=/usr/bin/pactl exit
Restart=always
User=btts
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/btts/dbus/btts_bus_socket
Environment=PULSE_SERVER=unix:/run/btts/pulse/native
