[Unit]
Description=Bluetooth test suite - bluez agent
After=bluetooth.service
StopWhenUnneeded=True

[Service]
Type=dbus
BusName=org.merproject.btts.BluezAgent
ExecStart=/usr/bin/btts bluez-agent --mode=server
EnvironmentFile=/usr/libexec/btts/environment
User=btts

[Install]
RequiredBy=btts.target
